<!DOCTYPE html>
<html>
<head>
    <title>{{ .Title }}{{ if ne .Title .Site.Title }} // {{ .Site.Title }}{{ end }}</title>

    {{ partial "meta.html" . }}
    {{ partial "og.html" . }}

    <link href="{{ "webfonts/ptserif/main.css" | absURL }}?{{ .Site.Params.theme_seconds }}" rel='stylesheet' type='text/css'>
    <link href="{{ "webfonts/source-code-pro/main.css" | absURL }}?{{ .Site.Params.theme_seconds }}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{{ "css/style.css" | absURL }}?{{ .Site.Params.theme_seconds }}">
    
    {{ partial "microblog_head.html" . }}
</head>
