<nav id="article-nav">
    {{ if .NextInSection }}
    <a href="{{ .NextInSection.RelPermalink }}" id="article-nav-newer" class="article-nav-link-wrap">
        <div class="article-nav-title"><span>&lt;</span>&nbsp;
            {{ .NextInSection.Title }}
        </div>
    </a>
    {{ end }}
    {{ if .PrevInSection }}
    <a href="{{ .PrevInSection.RelPermalink }}" id="article-nav-older" class="article-nav-link-wrap">
        <div class="article-nav-title">{{ .PrevInSection.Title  }}&nbsp;<span>&gt;</span></div>
    </a>
    {{ end }}
</nav>
